.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    width: 40px;
    height: 40px;

    img {
        width: 100%;
        max-width: 100%;
        display: block;
    }
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name,
.username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
}

.check {
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
    margin-left: 4px;
}

.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}