.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-btn-width: 52px;

  background-color: var(--white);
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .container {
    height: 100%;
    width: var(--default-layout-container-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--padding-horizontal-container);

    @media screen and (max-width: 1150px) {
      width: 100%;
      padding: 0px 15px;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Actions
.action {
  display: flex;
  align-items: center;
}

.btn-icon {
  background-color: transparent;
  color: var(--text-color);
  padding: 3px;
  cursor: pointer;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  margin-left: 16px;

  &.inbox {
    position: relative;

    .unread {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--primary);
      position: absolute;
      padding: 5px;
      top: -3px;
      right: 0px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 0.9rem;
    }
  }
}

.more-btn {
  background-color: transparent;
  margin-left: 16px;
  font-size: 2rem;
  padding: 8px;

  &:hover {
    cursor: pointer;
  }
}

.thumb-avatar {
  width: 32px;
  height: 32px;
  margin-left: 16px;
  border-radius: 50%;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  img {
    max-width: 100%;
    width: 100%;
  }
}
